.direction-link {
  font-size: 20px;
  font-style: normal;
  border-radius: 24px;
  width: 50%;
  text-align: center;
  padding: 12px;
  margin: 32px auto;
  box-shadow: 2px 5px 5px #888888;
  background-color: #A4E9FF;
}

.direction-link-button {
  font-weight: 400;
  text-decoration: none;
  font-family: 'Lexend Exa';
  color: #1a1919;
}
